@page "/"

<h2><b>Login</b></h2>
<hr />

<div class="col-6">
    <input type="email" @bind="@_loginViewModel.Email" class="form-control" placeholder="Email address" />
</div>

<div class="col-6">
    <input type="password" @bind="@_loginViewModel.Password" class="form-control" placeholder="Password" />
</div>

<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>
<br />
<div class="col-6">
    <a class="btn btn-block btn-social btn-twitter" @onclick="@TwitterSignIn">
        <span class="fa fa-twitter"></span> <b>Sign in using Twitter</b>
    </a>
</div>
<div class="col-6">
    <a class="btn btn-block btn-social btn-facebook" @onclick="@FacebookSignIn">
        <span class="fa fa-facebook"></span> <b>Sign in using Facebook</b>
    </a>
</div>
<div class="col-6">
    <a class="btn btn-block btn-social btn-google" @onclick="@GoogleSignIn">
        <span class="fa fa-Google"></span> <b>Sign in using Google</b>
    </a>
</div>
